.container {
    --gap: 10px;

    width: calc(100% - (var(--gap) * 2));
    max-width: 1200px;
    /*min-width: 900px;*/
    margin: auto;
    padding: 0 var(--gap);
}

.container-lg {
    --gap: 10px;

    width: calc(100% - (var(--gap) * 2));
    max-width: 1000px;
    /*min-width: 900px;*/
    margin: auto;
    padding: 0 var(--gap);
}