@import url("./month.css");
@import url("./week.css");

.calendar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 3rem 0;
}

.calendar-nav__left h1 {

}
.calendar-nav__left h1 span {
    color: var(--green);
}
