
.month {
    border-radius: 5px;
    border: 1px solid var(--border-clr);
}

.month_day-names {
    display: flex;
    border-bottom: 1px solid var(--border-clr);
}

.month_day-name {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
}

.month_day-names > div, .month_week > div {
    width: calc(100% / 7);
}

.month_week {
    display: flex;
}

.month_week .day-content {
    height: 100px;
    position: relative;
}
.month_week .day-content:nth-child(6),.month_week .day-content:nth-child(7) {

    background-color: var(--weekend-clr);
}

.month-week_events {
    height: 72px;
    overflow: auto;
}

.month-week_events::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.month_week .day-number {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.month_week .day-number .badge {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 1px 2px;
    min-width: 2ch;

    font-size: 14px;

}

.month_week .day-number .badge.active {
    background-color: var(--badge-clr);
}


/*borders*/
.month_week {
    border-bottom: 1px solid var(--border-clr);
}

.month_week > div, .month_day-names > div {
    border-right: 1px solid;
    border-color: var(--border-clr);
}

.month_week > div:last-child, .month_day-names > div:last-child, .month_week:last-child {
    border: none;
}